*{
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    background-color:#CEA505;
    word-spacing: 2rem;
    text-align: left;
    height:8vh;
    font-size: 2rem;
    width:100%;
}
body{
    background:url(./img/sophia-h-gue-X1M6mR3gzq8-unsplash.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    color: white;
    text-align: center;
    font-size: 5rem;
}
input{
    width:50%;
    height:8vh;
    border-radius:20px;
    margin:20px;
    border:none;
}
footer{
    font-size: 2rem;
    background-color:#CEA505;
    float:bottom;
    height:10vh;
}
span{
    font-size:3rem;
}



@media screen and (max-width:700px){
   
    nav{
        background-color:#CEA505;
        word-spacing: 2rem;
        text-align: left;
        height:8vh;
        font-size: 2rem;
        width:100%;
    } 
    body{
        background:url(./img/sophia-h-gue-X1M6mR3gzq8-unsplash.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        height:100vh;
        color: white;
        text-align: center;
        font-size: 5rem;

    }  
    input{
        width:50%;
        height:8vh;
        border-radius:20px;
        margin:20px;
        border:none;
    } 
    footer{
        font-size: 2rem;
        background-color:#CEA505;
        float:bottom;
        height:10vh;
        width:100%;
    }
    span{
        font-size:3rem;
    }
 

}
@media screen and (max-width:480px){
   
    nav{
        background-color:#CEA505;
        word-spacing: 2rem;
        text-align: left;
        height:8vh;
        font-size: 2rem;
        width:100%;
    } 
    body{
        background:url(./img/sophia-h-gue-X1M6mR3gzq8-unsplash.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        height:100vh;
        color: white;
        text-align: center;
        font-size: 8rem;

    } 
    input{
        width:50%;
        height:8vh;
        border-radius:20px;
        margin:20px;
        border:none;
    } 
    footer{
        font-size: 2rem;
        background-color:#CEA505;
        margin-top:20px;
        height:10vh;
        width:100%;
    } 
    span{
        font-size:3rem;
    }
   
}